<h1> login to start reviewing wines </h1>

<div>
<%= form_for(:user) do |f|%>
<%= flash[:message] %>
<p>
<%= f.label :username %>:
<%= f.text_field :username %></p>

<p>
<%= f.label :password %>:
<%= f.password_field :password %>
</p>

<%= f.submit "Login", class: "btn waves-effect waves-light" %>
<% end %>

</div>
<br>

<%= link_to "Login With Google", "/auth/google_oauth2", class: "btn waves-effect waves-light" %>

<p>Don't have an account?<%= link_to "Sign Up Today!", signup_path, class: "btn waves-effect waves-light" %>