<h1> Hello, <%= @user.username %>! </h1>

<p id="sofia-font">Did you try another wine? Tell us about it!</p>
<%= link_to "Add a Wine", new_wine_path, class: "waves-effect waves-light btn-small" %>


<h3>You have written <%= @user.reviews.length %> reviews:</h3>
<div class="container">
<% if @user.reviews.length == 0 %>
    <h4>You haven't written any reviews! You should go find some wine for reviewing!</h4>
<% end %>
<ul>
<% @user.reviews.each do |review|%>
    <div class="divider"></div>
    <div class="section">
        <li><i class="smll material-icons">local_bar</i> <%= review.wine.name %> - <%= review.wine.varietal.name %></li>
        <li>You paid: $<%= review.price %></li>
        <li>"<%= review.content %>"</li>
        <li><%= review.stars.times do %>
                <i class="tiny material-icons">star</i>
            <% end %>
        </li>
    </div>
<% end %>
</ul>
</div>