<h1>Create a new wine:</h1>

<%= render partial: 'layouts/errors', locals: { object: @wine } %>


<%= form_for @wine do |f|%>

<p>
<%= f.label :name %>
<%= f.text_field :name %></p>

<p>
<%= f.label :color %>
<%= f.select "color", options_for_select(["Red", "White", "Rose", "Orange"])%>
</p>

<p>
<%= f.label :year %>
<%= f.select :year, (1900)..(Date.today.year), :selected => Time.current.year%>
</p>

<p>Select a region:
<%= f.collection_select(:region_id, Region.alpha, :id, :name, prompt: true) %>
</p>


<p>Select a varietal:
<%= f.collection_select(:varietal_id, Varietal.alpha, :id, :name, prompt: true) %>
</p>

<p><%= f.submit %></p>
<% end %>

