<h3 id="sofia-font">Create a new wine:</h3>

<%= render partial: 'layouts/errors', locals: { object: @wine } %>


<%= form_for @wine do |f|%>

<%= f.text_field :name, placeholder: "name" %>


<%= f.label :color %>
<%= f.select "color", options_for_select(["Red", "White", "Rose", "Orange"])%>


<%= f.label :year %>
<%= f.select :year, (1900)..(Date.today.year), :selected => Time.current.year%>

<label>Select a region</label>
<%= f.collection_select(:region_id, Region.alpha, :id, :name, prompt: true) %>


<label>Select a varietal</label>
<%= f.collection_select(:varietal_id, Varietal.alpha, :id, :name, prompt: true) %>
<br>
<h5 id="sofia-font">So what'd you think?</h5>
<%= f.fields_for :reviews do |r| %>
    <%= r.label :price %>
    ($)<%= r.text_field :price %>
    <br>

    <%= r.label :stars %>
    <%= r.number_field(:stars, in: 1..5) %>
    <br>

    <%= r.label :content %>
    <%= r.text_area :content %>

    <%= r.hidden_field :user_id %>

<% end %>

<p class="waves-effect waves-light btn-large"><%= f.submit%></p>
<% end %>


