<h1>Create a new wine:</h1>

<%= render partial: 'layouts/errors', locals: { object: @wine } %>

<div>
<%= form_for @wine do |f|%>

<p>
<%= f.label :name %>
<%= f.text_field :name %></p>

<p>
<%= f.label :color %>
<%= f.select "color", options_for_select(["Red", "White", "Rose", "Orange"]), prompt: true %>
</p>

<p>
<%= f.label :year %>
<%= f.select :year, (1900)..(Date.today.year), :selected => Time.current.year%>
</p>

<p>Select a region:</p>
<%= f.collection_select(:region_id, Region.all, :id, :name, prompt: true) %>

<br>

<p>Select a varietal:</p>
<%= f.collection_select(:varietal_id, Varietal.all, :id, :name, prompt: true) %>


<p><%= f.submit %></p>
<% end %>

</div>