<h1><u><%= @wine.name %></h1></u>

<ul>
<li><%= @wine.color %></li>

<li><%= @wine.year %></li>

<li><%= @wine.region.name %></li>

<li><%= @wine.varietal.name %></li>
</ul>

<p class="review">
<% @wine.reviews.each do |r| %>
<blockquote>
 <%= r.stars %> Stars - "<%= r.content%>" - <%= r.user.username %> paid: ($<%= r.price %>)<br>
</blockquote>
 <% end %>
</p>

<h3><%= link_to "Review This Wine!", new_wine_review_path(@wine.id) %></h3>