<h3 id="center"><%= @wine.wine_var %> - <%= @wine.year %></h3>

<div>
<%= @wine.wine_image %>
</div>


<div id="float-right">
<%= @wine.wine_review %>
</div>

<br><br><br>

<table class="striped">
<tbody>
    <tr>
        <td>COLOR</td>
        <td><%= @wine.color %></td>
    </tr>

    <tr>
        <td>REGION</td>
        <td><%= @wine.region.name %></td>
    </tr>

    <tr>
        <td>AVERAGE STARS</td>
        <td><% @wine.stars_column.times do %>
            <i class="tiny material-icons">star</i>
        <% end %>
        (<%= @wine.average_rating %>)
        </td>
    </tr>

    <tr>
        <td>AVERAGE PRICE</td>
        <td><%= number_to_currency(@wine.average_price) %></td>
    </tr>
</tbody>
</table>

<u><h5 id="sofia-font">Heres what our users have to say...</h5></u>
<p class="review">
<% @wine.reviews.each do |r| %>
    <blockquote>
    <%= r.stars %> Stars - "<%= r.content%>" - <%= r.user.username.capitalize %> paid: <%= number_to_currency(r.price) %><br>
    </blockquote>
<% end %>
</p>