<!DOCTYPE html>
<html>
  <head>
    <title>RateMyWine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <nav>
  <div class="nav-wrapper" >

    <%= link_to "RateMyWine", root_path, :data => {:class => "brand-logo"} %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "All Wines", wines_path %></li>
      <li><%= link_to "Find By Varietals", varietals_path %></li>
      <li><%= link_to "Find By Regions", regions_path %></li>
      <li><%= link_to "Wine Reviews", reviews_path %></li>
      <% if !logged_in? %>
        <li><%= link_to "Login", login_path %></li>
      <% else %>
        <li><%= link_to "My Profile", user_path(current_user.id)%>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
  </nav>


  <body>
  <div class="container">
    <%= yield %>
  </div>
    <footer>
    </footer>
  </body>
</html>
